/** 
 * Vender Prefixing Mixin
 */
/* prefix declarations */
/**
 * Flexbox mixin
 */
html,
body {
  color: rgba(32, 35, 42, 0.9);
  background-color: #f4f4ef;
  font-family: "freight-big-pro", serif;
  font-weight: 300;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0; }
  html a:link, html a:visited,
  body a:link,
  body a:visited {
    color: #283655; }

a:link,
a:visited {
  color: #a01d26; }

header {
  display: -webkit-box;
  /* early support ios 6 and safari */
  display: -moz-box;
  /* early support firefox */
  display: -ms-flexbox;
  /* ie 10 */
  display: -webkit-flex;
  /* new chrome, safari */
  display: flex;
  /* w3 standard */
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  -o-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  color: rgba(244, 244, 239, 0.9);
  background-color: #283655;
  height: 100vh; }
  header a:link, header a:visited {
    color: #ed8c72; }
  header .logo {
    color: #ed8c72;
    margin-bottom: 8px; }
  header .nk-tagline {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.3rem;
    padding: 12px;
    margin: 0; }
  header .nk-description {
    max-width: 400px;
    text-align: center;
    font-style: italic;
    font-size: 1.12rem;
    letter-spacing: 0.02rem; }
    header .nk-description span {
      display: inline-block;
      white-space: nowrap; }

footer {
  display: -webkit-box;
  /* early support ios 6 and safari */
  display: -moz-box;
  /* early support firefox */
  display: -ms-flexbox;
  /* ie 10 */
  display: -webkit-flex;
  /* new chrome, safari */
  display: flex;
  /* w3 standard */
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  -o-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  color: rgba(244, 244, 239, 0.9);
  background-color: #1e1f26;
  padding-top: 100px;
  padding-bottom: 100px; }
  footer a:link, footer a:visited {
    color: #ed8c72; }
  footer > * {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  footer .nk-brand {
    align-self: flex-start;
    padding-left: 36px;
    padding-right: 36px; }

p,
h3 {
  margin: 7px 0; }

h1,
h2,
h3,
h4 {
  font-family: "freight-big-pro", serif;
  font-weight: 700; }

.icon svg {
  fill: currentColor;
  width: 60px;
  height: 60px; }
.icon .iconic-property-stroke {
  stroke: currentColor; }

.nk-brand svg {
  fill: currentColor; }

.seal svg {
  width: 100px; }

.logo svg {
  width: 180px; }

.copy {
  padding: 12px 36px;
  min-height: 150px; }

.nk-design,
.nk-create,
.nk-mobilize {
  color: rgba(32, 35, 42, 0.9);
  background-color: #d0e1f9; }
  .nk-design a:link, .nk-design a:visited,
  .nk-create a:link,
  .nk-create a:visited,
  .nk-mobilize a:link,
  .nk-mobilize a:visited {
    color: #a01d26; }

.nk-sample {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .nk-sample .sample {
    position: relative;
    width: 33.3333%;
    flex: auto; }
    .nk-sample .sample:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .nk-sample .sample .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

.nk-together {
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgba(244, 244, 239, 0.9);
  background-color: #2f496e;
  display: -webkit-box;
  /* early support ios 6 and safari */
  display: -moz-box;
  /* early support firefox */
  display: -ms-flexbox;
  /* ie 10 */
  display: -webkit-flex;
  /* new chrome, safari */
  display: flex;
  /* w3 standard */
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  -o-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  .nk-together a:link, .nk-together a:visited {
    color: #ed8c72; }

.nk-latest {
  color: rgba(32, 35, 42, 0.9);
  background-color: #d0e1f9; }
  .nk-latest a:link, .nk-latest a:visited {
    color: #a01d26; }

.nk-business {
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgba(244, 244, 239, 0.9);
  background-color: #283655;
  display: -webkit-box;
  /* early support ios 6 and safari */
  display: -moz-box;
  /* early support firefox */
  display: -ms-flexbox;
  /* ie 10 */
  display: -webkit-flex;
  /* new chrome, safari */
  display: flex;
  /* w3 standard */
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  -o-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  .nk-business a:link, .nk-business a:visited {
    color: #ed8c72; }
  .nk-business .icon {
    padding-left: 32px;
    margin-bottom: 12px; }

.icon-button {
  color: rgba(244, 244, 239, 0.9);
  background-color: #eff0f3;
  width: 50px;
  height: 50px;
  border-radius: 50%; }
  .icon-button a:link, .icon-button a:visited {
    color: #283655; }

/*# sourceMappingURL=styles.css.map */
