md-grid-list.attachments {
   md-grid-tile {
     md-grid-tile-header,
     md-grid-tile-footer {
       background: $color-dark-gray;
       h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $color-white;
       }
       md-icon {
         color: $color-white;
       }
     }
   }

  .multimedia  {
    &:hover {
      md-grid-tile-footer {
        opacity: 1;
      }
    }
     md-grid-tile-footer {
      opacity: 0;
      transition: all 300ms ease-out 50ms;
    }
  }
}
