/**
 * Quick styles for using UL as an organizational unit rather than a dotted list
 */
@mixin infoList($flex: true) {
    display: inherit;

    ul {
        list-style-type: none;

        @if $flex == true {
            @include soFlexyBox(row, center, flex-start);
        }

        width: 100%;
        padding: 0;

        li {
            @if $flex == true {
                @include soFlexyItem;
            }
        }
    }
}