/**
  Creates a colored overlay
  */
@mixin overlay($color, $opacity: 0.5, $height: 100vh) {
	& * {
		position: relative;
		z-index: 1;
	}
    &:after {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba($color, $opacity);
        height: $height;
    }
}