---
layout: default
---
<main>
	<section class="{{site.data.sections.design.slug}} copy">
		{% include nk-section.html section=site.data.sections.design %}
	</section>
	<section class="{{site.data.sections.create.slug}} copy">
		{% include nk-section.html section=site.data.sections.create %}
	</section>
	<section class="{{site.data.sections.mobilize.slug}} copy">
		{% include nk-section.html section=site.data.sections.mobilize %}
	</section>
	<section class="{{site.data.sections.together.slug}} copy">
		{% include nk-section.html section=site.data.sections.together %}
	</section>
	<section class="{{site.data.sections.business.slug}} copy">
		{% include nk-section.html section=site.data.sections.business %}
		<p>{{site.phone}}</p>
		<p>{{site.email}}</p>
	</section>
</main>
