
.current.exercise {
  .metadata {
    position: absolute;
    width: 30vw;
    min-width: 300px;
    height: 100vh;
    bottom:0;
    left:-1vw;
    margin-left: 3.25vw;
    z-index: 900;
    display: flex;
    flex-direction: column;

    .notes {
      color: rgba(0,0,0,0.64);
      position: absolute;
      bottom: 130px;
      padding-left: 3vw;
      padding-right: 3vw;
      width: 94vw;
      font-size: 24px;
      text-align: center;
    }

    .attachment-container {
      position: absolute;
      width: 96vw;
      min-width: 50px;
      height: 50vh;
      top: 190px;
      right: 2.5vw;
      margin-left: 3.25vw;
      display: flex;
      flex-direction: column;
      opacity: 1;
      overflow: scroll;
      transition: all 300ms ease-out 50ms;
    }

    .attachments {
      background: gray;
      position: absolute;
      bottom: 1vh;
      height: 40vh;
      width: 30vw;

      .attachment {
        display: flex;
        flex: 1 1 auto;
        border: 1px solid gray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:50%;

        md-grid-tile-header,
        md-grid-tile-footer,
        md-icon {
          display: none;
        }
      }
    }
  }
}

.active-exercise .description {
  position:absolute;
  width: 100vw;
  top: 30px;
  left: 30px;
}


.dim {
  opacity: 0.4;
}

/** counter **/
.countdown {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 9001;
}
.countdown .count {
  font-size: 24px;
  font-face: Roboto;
  position: absolute;
  line-height: 50px;
  left: 19px;
  top: 0;
  z-index: 500;
  color: rgba(0, 0, 0, 0.54);
}
.countdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.countdown > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}
.countdown .pie-wrapper {
  position: relative;
  animation: maska 3s steps(1, end) 1;
}
.countdown .pie-wrapper, .countdown .pie-wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.countdown .pie-wrapper {
  width: 50vh;
  height: 50vh;
  overflow: hidden;
  border-radius: 50%;
}
.countdown .pie-wrapper .pie {
  width: 25vh;
  height: 50vh;
  transform-origin: 100% 50%;
  position: absolute;
  background: transparent;
  border: 10vh solid #157EF4;
}
.countdown .pie-wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  animation: rota 3s linear 1;
}
.countdown .pie-wrapper:hover .spinner,
.countdown .pie-wrapper:hover .filler,
.countdown .pie-wrapper:hover .mask {
  animation-play-state: running;
}
.countdown .pie-wrapper .filler {
  border-left: none;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 25vh;
  opacity: 1;
  z-index: 100;
  animation: opa 3s steps(1, end) 1;
}
.countdown .count-wrapper {
  position: absolute;
  width: 30vh;
  height: 30vh;
  overflow: hidden;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 35vh;
  border-radius: 50%;
  text-align: center;
}
.countdown .count-wrapper .digit-wrapper .digit:first-child {
  color: rgba(0, 0, 0, 1);
  animation: pulsea 1s ease-in-out 4;
  z-index: 90002;
}
.countdown .count-wrapper .digit-wrapper .digit:first-child:after {
  height: 40px;
  width: 40px;
  background: red;
  position: absolute;
  top: 0;
}
.countdown .count-wrapper .digit-wrapper .digit {
  display: inline-block;
  font-size: 20vh;
  line-height: 30vh;
  width: 1em;
}
@keyframes pulsea {
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
  30% {
    transform: scale(1.2);
    opacity: 1;
  }
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(2.03) translateY(0.1vh) rotate(10deg);
    -webkit-clip-path: ellipse(50% 48% at 50% 50%);
    opacity: 0;
  }
}
@keyframes pulsatebig {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(4.03) translateY(0.1vh) rotate(10deg);
    -webkit-clip-path: ellipse(50% 48% at 50% 50%);
    opacity: 0;
  }
}
@keyframes pulsaterev {
  0%, 100% {
    transform: scale(0.9) translateY(-0.1vh);
  }
  50% {
    transform: scale(1.08) translateY(0.1vh) rotate(10deg);
    -webkit-clip-path: ellipse(50% 48% at 50% 50%);
  }
}
@keyframes breathe {
  50% {
    transform: scale(0.2) translateY(-0.1vh);
  }
  0%, 100% {
    transform: scale(1.9) translateY(-.1vh);
  }
}
@keyframes scrollclocka {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30vh);
  }
  50% {
    transform: translateY(-60vh);
  }
  75% {
    transform: translateY(-90vh);
  }
}
@keyframes rotatereverse {
  0% {
    transform: scale(0.1);
    opacity: 0.3;
    border-width: 0;
  }
  25% {
    background: transparent;
    opacity: 0.2;
  }
  100% {
    transform: scale(6);
    border-width: 1px;
    opacity: 0;
  }
}
@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes maska {
  0% {
    -webkit-clip-path: inset(0 0 0 50%);
    clip-path: inset(0 0 0 50%);
  }
  50%, 100% {
    -webkit-clip-path: none;
    clip-path: none;
  }
}
@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

/**
workout single exercise styles
**/
.backboard {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  left: 0;
  z-index: 9001;
}
.toolbar-short .title {
  background-color: rgb(33, 150, 243);
  color: #FFF;
  line-height: 64px;
  font-size: 20px;
  letter-spacing: .005em;
  box-sizing: border-box;
  font-weight: 400;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 64px;
  max-height: 64px;
  padding: 0 16px;
  margin: 0;
}
.blob-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* left: 0; */
  z-index: 0;
}
.blob, .skin, .aura, .glow {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.blob-wrapper .blob {
  position: absolute;
  top: 39.5vh;
  background: #157EF4;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  opacity: 0.2;
  -webkit-clip-path: ellipse(50% 50% at 50% 50%);
  animation: breathe 5.7s ease-in-out infinite;
  animation-fill-mode: forwards;
  z-index: 1;
}
.blob-wrapper .skin {
  position: absolute;
  top: 29.6vh;
  background: #157EF4;
  border: solid 0.13vh #157EF4;
  border-radius: 50% / 51%;
  height: 24vh;
  width: 24vh;
  opacity: 0.5;
  animation: rotatereverse 25s ease-in infinite;
}
.blob-wrapper .skin:nth-of-type(2) {
  animation: rotatereverse 15s ease-in infinite;
}
.blob-wrapper .skin:nth-of-type(3) {
  animation: rotatereverse 7s ease-in infinite;
}
.blob-wrapper .skin:nth-of-type(4) {
  animation: rotatereverse 13s ease-in infinite;
  display: none;
}
.blob-wrapper .aura {
  position: absolute;
  top: 35.3vh;
  background: #157EF4;
  background-blend-mode: screen;
  border-radius: 50%;
  height: 12vh;
  width: 12vh;
  opacity: 0.15;
  -webkit-clip-path: ellipse(41% 43% at 50% 50%);
  animation: pulsate 3s ease-in-out infinite;
}
.blob-wrapper .aura:nth-of-type(2) {
  animation: pulsatebig 6s ease-in-out infinite;
}
.blob-wrapper .glow {
  position: absolute;
  top: 37.7vh;
  background: #157EF4;
  background-blend-mode: screen;
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  opacity: 0.1;
  -webkit-clip-path: ellipse(43% 41% at 50% 50%);
  animation: pulsaterev 10s ease-in infinite forwards;
}
.breathe {
  animation: breathe 4s ease-in-out infinite;
}
.orbit {
  animation: orbit 4s linear infinite;
}
.rotareverse {
  animation: rotatereverse 25s ease-in-out infinite;
}


.stopwatch, .exercise-title, .exercise md-chips, .exercise md-chip, md-toolbar {
  transition: all 0.5s ease-out;
}
.active-exercise {
  padding-top: 1em;
}
.active-exercise .stopwatch {
  bottom: 2vh;
  right: 2vw;
  font-size: 40px;
  position: absolute;
  color: rgb(21, 126, 244);
}
.active-exercise .exercise-title, .active-exercise .set-title {
  margin: 0;
  line-height: 1.25em;
}
.active-exercise .exercise-title {
  font-size: 40px;
  color: rgb(21, 126, 244)
;
  padding-left: 3.25vW;
  position: absolute;
  left: -2vw;
  top: 36px;
}
.active-exercise .set-title {
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.26)
;
  position: absolute;
  top: 10px;
  padding-left: 3.25vw;
  left: -2vw;
}
.active-exercise md-chips {
  position: absolute;
  top: 130px;
  left: -4vw;
}
.active-exercise md-chip {
  clear: left;
  float: right;
  padding: 0;
  position: absolute;
  left: 0;
}
.active-exercise .md-chips .md-chip .md-chip-content {
  padding-left: 4vw;
}
.active-exercise .exercise-finished {
  position: absolute;
  top: 6em;
  right: -2vw;
  margin-left: 0;
  margin-right: 0;
}
.active-exercise .exercise-finished button {
  padding-right: 5vw;
  padding-left: 2vw;
  border-radius: 19px 0 0 19px;
  padding-top: 3px;
  padding-bottom: 3px
}
.active-exercise .exercise-tools {
  position: absolute;
  top: 0;
  right: 1vh
}
.set-label {
  color: #FFF;
  background: rgb(33, 150, 243);
  position: relative;
  left: -10px;
  line-height: 40px;
  padding-left: 43px;
  padding-right: 20px;
  border-radius: 0 19px 19px 0;
}
.exercise md-chips.md-default-theme .md-chips, .exercise md-chips .md-chips {
  box-shadow: none;
}
.single-view {
  height: 100vh;
}
.results {
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.results > div {
  flex: 0 1 auto;
}
.results md-input-container .md-input {
  text-align: center;
}
md-toolbar {
  transition: none;
}
.attribute-dialog input {
  text-align: center;
}
.exercise-title {
  margin-bottom: 0;
}
.stopwatch {
  font-size: 20px;
}
.workout-overview {
  position: absolute;
  font-size: 20px;
  right: 0;
  top: 0;
  color: rgba(66, 66, 66, 1);
  background: rgb(224, 224, 224);
  padding: 0 20px 0 10px;
}
.workout-overview h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.workout-overview md-icon {
  padding-right: 30px;
}
.workout-overview > * {
  padding-right: 15px;
  white-space: nowrap;
  line-height: 40px;
}
.workout-overview > *:not(:first-child) {
  border-left: solid 2px rgba(0, 0, 0, 0.2);
  padding-left: 5px;
}
.workout-overview .workout-start-time {
  width: auto;
}
.workout-overview .workout-duration {
}

.workout-title {
  margin:0;
}
.workout-notes {
  position: absolute;
  right: 0;
  background: rgb(224, 224, 224);
  top: 7.5em;
  padding: 0 20px 0 10px;
  width: 25vw;
}


#workout .exercise:not(.current) {
  background: none;
}

#workout .exercise:not(.current) .attachments {
  display: none;
}

.current.exercise md-grid-list {
  transition: all 300ms ease-out 50ms;
  height: 40vh
}