<footer>
	<section class="nk-brand seal">{{site.seal}}</section>
	<section class="nk-imprint">{{site.imprinted}}</section>
	<section class="nk-contact">
		{{site.address | markdownify}}
		<p>{{site.phone}}</p>
		<p>
			<a href="mailto:{{site.data.brand.email}}">{{site.email}}</a>
		</p>
	</section>
	<section class="nk-services">
		{% for service in site.data.services %}
		<p>
			<a href="{{service.link}}">{{service.title}}</a>
		</p>
		{% endfor %}
	</section>
	<section class="nk-legal">
		{{site.legal | markdownify}}
	</section>
</footer>
