<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{site.title}}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/styles.css" rel="stylesheet">

	<!-- bower:css -->
	<!-- endbower -->
	<script src="//use.typekit.net/bwo6uuc.js"></script>
	<script>
		try {
			Typekit.load({async: true});
		} catch (e) {}
	</script>

</head>
<body ng-controller="nkMarketCtrl">
	<!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
