<section class="nk-section{% if section.slug %} {{section.slug}}{% endif %}">
  {% if section.graphic %}
  <div class="graphic">
    <img src="{{ site.github.url }}/img/{{section.graphic.source}}" alt="{{section.graphic.cutline}}"/>
  </div>
  {% endif %}
  {% if section.illumination %}
  <div class="illuminated">
    <div class="illumination"></div>
    {% endif %}
    {% if section.icon %}
    <div class="icon">
      {{site.data.icons[section.icon]}}
    </div>
    {% endif %}
    {{ section.content }}
    {% if section.illumination %}
  </div>
  {% endif %}
</section>
