#client {
  md-card {
    width: 90%;

     &.md-warn {
        border: 1px solid #f44336;
      }

      h2 {
        margin: 0;

        .md-avatar {
          width: 40px;
          height: 40px;
          margin-right: 8px;
        }
      }

      md-card-content {
        .header {
          padding: 16px 16px 16px 8px;
        }
      }
  }
}
