/**
  Makes an element span the entire page
  */
@mixin fullPage($color: $color-white, $image: 0) {
    @include primaryBlock;
    background-color: $color;
    @if $image != 0 {
        background: $color url(#{$image-path}/#{$image}) 50% 0 no-repeat fixed;
        background-size: cover;

        // background-position: top !important;
    }

    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}