/**
 * Cards are block elements sections contained within larger sections. This 
 * could include contact cards or blocks of text, among other things.
 */

@mixin leapCard($depth, $theme: light, $color: $theme-light-foreground) {
    @include card($depth);
   
    padding: $card-padding;
    margin: $card-margin;

    @if $theme == dark {
        background: $theme-dark-background;
        color: $theme-dark-foreground;
    }
    @else if $theme == light {
        background: $theme-light-background;
        color: $theme-light-foreground;
    } @else {
    	background: $theme;
    	color: $color;
    }
}