<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" ng-app="inkfish" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" ng-app="inkfish" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" ng-app="inkfish" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="inkfish" class="no-js">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{imprint}}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/styles.css" rel="stylesheet">

		<!-- bower:css -->
		<!-- endbower -->
		<script src="https://use.typekit.net/bwo6uuc.js"></script>
		<script>
			try {
				Typekit.load({async: true});
			} catch (e) {}
		</script>

	</head>
	<body ng-controller="nkMarketCtrl">
		<!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
		<header>
			<div class="nk-brand">
				<div class="logo" ng-bind-html="logo"></div>
			</div>
			<h2 class="nk-tagline">{{tagline}}</h2>
			<div class="nk-description" ng-bind-html="description"></div>
		</header>
		<main>
			<section class="nk-design copy">
				<div class="icon">
					<h3 class="title">{{sections.design.title}}</h3>
					<div class="body">{{sections.design.body}}</div>
				</div>
			</section>
			<section class="nk-create copy">
				<div class="icon">
					<h3 class="title">{{sections.create.title}}</h3>
					<div class="body">{{sections.create.body}}</div>
				</div>
			</section>
			<section class="nk-mobilize copy">
				<div class="icon">
					<h3 class="title">{{sections.mobilize.title}}</h3>
					<div class="body">{{sections.mobilize.body}}</div>
				</div>
			</section>
			<!-- <section class="nk-sample">
				<div class="sample" ng-repeat="sample in samples">
                    <a href="{{sample.link}}">
					<div class="content" back-img="{{sample.graphic}}">
						<h4>{{sample.title}}</h4>
						<div class="body">{{sample.cutline}}</div>
					</div>
                </a>
				</div>
			</section> -->
			<section class="nk-together copy">
                <div class="icon" ng-bind-html="iconInfinity"></div>
				<h3>{{sections.together.title}}</h3>
				<p>{{sections.together.body}}</p>
			</section>
			<!-- <section class="nk-latest copy" ng-bind-html="latestSocial"></section> -->
			<section class="nk-business copy">
                <div class="icon" ng-bind-html="iconInkwell"></div>
				<h3>{{sections.business.title}}</h3>
				<p>{{phone}}</p>
				<p>
					<a href="mailto:{{email}}">{{email}}</a>
				</p>
			</section>
		</main>
		<footer>
			<section class="nk-brand seal" ng-bind-html="seal"></section>
			<section class="nk-imprint" ng-bind-html="imprinted"></section>
			<section class="nk-social">
				<div class="icon-button" ng-repeat="site in social">
					<a href="{{site.link}}">{{site.title}}</a>
				</div>
			</section>
			<section class="nk-contact">
				<p ng-repeat="line in address">{{line}}</p>
				<p>{{phone}}</p>
				<p>
					<a href="mailto:{{email}}">{{email}}</a>
				</p>
			</section>
			<section class="nk-description">
				<p ng-repeat="service in services">
					<a href="{{service.link}}">{{service.title}}</a>
				</p>
			</section>
			<section class="nk-legal" ng-bind-html="legal"></section>
		</footer>

		<!-- bower:js -->
		<script src="app/bower_components/jquery/dist/jquery.js"></script>
		<script src="app/bower_components/angular/angular.js"></script>
		<script src="app/bower_components/angular-route/angular-route.js"></script>
		<script src="app/bower_components/angular-loader/angular-loader.js"></script>
		<script src="app/bower_components/angular-mocks/angular-mocks.js"></script>
		<!-- endbower -->
		<script src="app/main.js"></script>
	</body>
</html>
