header {
	@include theme-mid-dark;
	height: 100vh;
	.logo {
		color: $color-accent-light;
		margin-bottom: $space-md;
	}
	.nk-tagline {
		@include noBreakLines;
		font-size: 1.3rem;
		padding: 12px;
		margin: 0;
	}
	.nk-description {
		max-width: 400px;
		text-align: center;
		font-style: italic;
		font-size: 1.12rem;
		letter-spacing: 0.02rem;
		span {
			@include noBreakLines;
		}
	}
}
footer {
	@include theme-dark;
	@include section_margin;

	.nk-brand {
		align-self: flex-start;
		padding-left: $space-xxxlg;
		padding-right: $space-xxxlg;
	}
}
.nk-design,
.nk-create,
.nk-mobilize {
	@include theme-light;
}
.nk-design {}
.nk-create {}
.nk-mobilize {}
.nk-sample {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	.sample {
		@include aspect-ratio(1,1);
		width: 33.3333%;
		flex: auto;
	}
}
.nk-together {
	@include section_margin;
	@include theme-mid-light;
}
.nk-latest {
	@include theme-light;
}
.nk-business {
	@include section_margin;
	@include theme-mid-dark;
	.icon {
		padding-left: 32px;
		margin-bottom: $space-lg;
	}
}
.nk-legal {}
