$color-midnight-blue: #1e1f26;
$color-indigo-ink: #283655;
$color-sea: #2f496e;
$color-stone: #336b87;
// $color-grecian-blue: #2988bc;
$color-ruby-red: #a01d26;
$color-coral: #ed8c72;
$color-ink: #20232a;
$color-paper: #f4f4ef;
$color-shadow: #2a3132;
$color-periwinkle: #d0e1f9;

// inherited
$color-black: $color-ink;
$color-light-gray: rgba($color-ink,.185);
$color-dark-gray: rgba($color-ink,0.64);
$color-white: rgba($color-paper, 1);

// standards
$color-primary: $color-indigo-ink;
$color-accent-light: #4188ac;
$color-accent-dark: $color-coral;
$color-ink-dark: rgba($color-ink, 0.9);
$color-ink-light: rgba($color-paper, 0.9);
$color-icon: $color-ink-light;

//primaries

//themes
@mixin theme-dark {
	color: $color-ink-light;
	background-color: $color-midnight-blue;
	a:link, a:visited {
		color: $color-accent-light;
	}
	a:before {
		background-color: $color-accent-light;
	}
	.icon {
		color: $color-icon;
	}
}
@mixin theme-mid-dark {
	color: $color-ink-light;
	background-color: $color-indigo-ink;
	a:link, a:visited {
		color: $color-accent-light;
	}
	a:before {
		background-color: $color-accent-light;
	}
	.icon {
		color: $color-icon;
	}
}
@mixin theme-mid-light {
	color: $color-ink-light;
	background-color: $color-sea;
	a:link, a:visited {
		color: $color-accent-light;
	}
	a:before {
		background-color: $color-ink-light;
	}
	.icon {
		color: $color-icon;
	}
}
@mixin theme-light {
	color: $color-ink-light;
	background-color: $color-stone;
	a:link, a:visited {
		color: lighten($color-accent-light, 50%);
	}
	a:before {
		background-color: $color-ink-light;
	}
	.icon {
		color: $color-icon;
	}
}

// basic themes
@mixin theme-basic-dark {
	color: $color-ink-light;
	background-color: $color-black;
	a:link, a:visited {
		color: $color-accent-light;
	}
	a:before {
		background-color: $color-ink-light;
	}
	.icon {
		color: $color-icon;
	}
}
@mixin theme-basic-mid-dark {
	color: $color-ink-light;
	background-color: lighten($color-black, 10%);
	a:link, a:visited {
		color: $color-primary;
	}
	a:before {
		background-color: $color-ink-light;
	}
	.icon {
		color: $color-icon;
	}
}
@mixin theme-basic-mid-light {
	color: $color-ink-light;
	background-color: lighten($color-black, 80%);
	a:link, a:visited {
		color: $color-primary;
	}
	a:before {
		background-color: $color-ink-light;
	}
	.icon {
		color: $color-icon;
	}
}
@mixin theme-basic-light {
	color: $color-ink-dark;
	background-color: $color-white;
	a:link, a:visited {
		color: $color-primary;
	}
	a:before {
		background-color: $color-ink-dark;
	}
	.icon {
		color: $color-icon;
	}
}
