$space-sm: 4px;
$space-md: 8px;
$space-lg: 12px;
$space-xlg: 18px;
$space-xxlg: 24px;
$space-xxxlg: 36px;
$space-xxxxlg: 42px;
$space-xxxxxlg: 72px;
$space-huge: 100px;
$space-xhuge: 140px;
$print-area-sm: auto;
$print-area-md: 500px;
$print-area-lg: 600px;
@mixin standard-margin {
	padding: $space-lg $space-xhuge;
	min-height: 150px;
}
@mixin small-margin {
	padding: $space-lg $space-xxlg;
	min-height: 150px;
}
@mixin section-margin {
	padding-top: $space-xxxlg;
	padding-bottom: $space-xxxxxlg;
}
@mixin section-margin-mobile {
	padding-top: $space-xxxxxlg;
	padding-bottom: $space-xxxxxlg;
}
@mixin section-flex {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
