$base-font-size: 20px;
$body-typeface: "freight-big-pro", serif;
$heading-typeface: "freight-big-pro", serif;


@mixin body-font {
	font-family: $body-typeface;
	font-weight: 300;
	font-size: $base-font-size;
}

@mixin heading-font {
	font-family: $heading-typeface;
	font-weight: 700;
}
