md-list {
  .md-default-theme {
    md-list-item {
      &.selected {
        background-color: $color-light-gray;
        color: $color-black;

        button.md-button:not([disabled]) {
          &:hover, &:focus {
            background-color: $color-light-gray;
            color: $color-black;
          }
        }
      }
    }
  }
}