.stepper {
  position: relative;
  flex: 0 0 auto;
}

.step {
  &.completed,
  &.current,
  &.active {
    .circle {
      background: rgb(33, 150, 243);
    }

    .label {
      color: rgba(0,0,0,0.87);
    }

  }

  .body {
      display: block;
      width: 100%;
      position:relative;
      opacity: 0;
      top: -100vh;

      h3 {
        margin-top: 10px;
      }

      .scroll-in {
        animation: side-scroll-in 0.5s ease-in-out;
        animation-fill-mode: forwards;
      }

      .scroll-out {
        animation: side-scroll-out 0.5s ease-in-out ;
        animation-fill-mode: forwards;
      }
  }

  .circle {
    background: #9E9E9E;
    color: white;
    position: relative;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
  }

  .label {
    color: rgba(0, 0, 0, 0.26);
    line-height: 32px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 12px;
  }

  .line {
    position: relative;
    border-top: 1px solid #BDBDBD;
    margin-left: 12px;
    margin-right: 12px;
  }

  &:last-child .line {
    display: none
  }
}

@keyframes side-scroll-right-in {
   0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}
@keyframes side-scroll-right-out {
   0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}
@keyframes side-scroll-left-in {
   0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vh);
    opacity: 1;
  }
}
@keyframes side-scroll-left-out {
   0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vh);
    opacity: 1;
  }
}
@keyframes side-scroll-in {
  0% {
    display: block;
    left: 0;
    opacity: 0;
    height: auto;
  }
  100% {
    top: 0;
    opacity: 1;
    height: 1;
  }
}
@keyframes side-scroll-out {
  0% {
    display: block;
    top:0;
    opacity: 1;
    height: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
    height: 0;
    display: none;
  }
}
